.map {
        height: 400px;
        width: 100%;
}
/* from http://cssdeck.com/labs/bv45bh6p */
div.map-callout {
	min-height: 50px;
	width: 200px;
	float: left;
    left: -20px;
    top: 10px;
	background-color: #444;
	position: relative;
	color: #ccc;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 20px #999;
	margin: 0px;
	border: 1px solid #333;
    border-radius: 5px;
	text-shadow: 0 0 1px #000;
}
.map-callout::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}
.map-callout.map-callout-bottom::before {
	left: 5%;
	top: -20px;
	border-bottom: 10px solid #444;
}